.container
  display: grid 
  grid-template-columns: repeat(12, 1fr)

.card
  box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.26)
  border-radius: 1rem
  background-color: #fff
  display: flex
  align-items: center

  &__handle
    padding: 0.5rem
    margin: 0.5rem
    border-radius: 0.25rem
    transition: 1s background-color ease-in-out
    cursor: grab

    svg
      width: 1.125rem
      height: 1.125rem

    &:hover
      background-color: #eee

  &__body
    display: flex
    padding: 1rem
    gap: 0.5rem
    width: 100%
    justify-content: space-between
    align-items: center

  &__title
    font-weight: 800
  
  &__actions
    margin-left: auto
    display: flex
    gap: 0.25rem
    flex-wrap: wrap
    justify-content: end
